*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'blinker', sans-serif;
}


html{
  background-color: black;
}
body{
  min-height: 100vh;
}
header .brand img{
  height: 80px;
}
header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  transition: 0.6s;
}
.image-favicon{
  max-width: 100px;
}
header.down{
  background: black;
  padding: 5px 50px;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  content: "\f0c9";
  width: 200px;
}
header .brand{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

header .menu{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .menu ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .menu ul li{
	list-style: none;
}

header .menu a{
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 30px;
  padding: 7px 12px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: color;
}

header .menu a:hover{
  color: #000;
  background: #fff;
}

.section-two{
  padding: 20px;
}

header .btn{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.content{
	color: white;
	background-position: center;
  background-image: url(image/fondo.png);

	width: 100%;
	margin-right: auto;
	margin-left: auto;
  opacity: 2;
	padding: 0%;
}
@media (max-width: 991px){
  #content-home h3{
    font-size: 45px;
    line-height: 1.5;
  }
  #content-home p{
    font-size: 30px;
    line-height: 1.5;
  }
  
  
header .brand img{
  height: 100px;
}
  #content h3{
    font-size: 45px;
    line-height: 1.5;
  }
  header, header.down{
  	padding: 10px 40px;
  }
  header .btn{
    display: block;
    width: 100px;
    height: 100px;
  }

  header .menu{
    position: fixed;
    background: #c4cffd;
    min-width: 600px;
    width: 40%;
    color: black;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition: 0.5s;
    transition-property: right;
  }

  header .menu ul{
	  flex-direction: column;
	}

  header .menu.active{
    right: 0;
  }

  header .menu .close-btn{
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
    color: black;
    width: 300px;
  }

  header .menu a{
    display: block;
    font-size: 30px;
    margin: 20px;
    padding: 0 15px;
    color: black;
  }
  #content p{
     color: white;
     font-size: 40px;
   }
  .menu a{
    font-size: 50px;
   }

   h1{
     font-size: 80px;
   }
   #content{
     padding: 250px 5px!important;
     margin-left: auto;
     margin-right: auto;
   }
   #content-home{
    padding: 100px 5px!important;
    margin-left: auto;
    margin-right: auto;
   }
   #content button a{
     color: white;
     font-size: 80px;
     border: rgba(0, 0, 0, 0.24) 2px solid;
   }


   .content-home #content-home button{
    background-color: #ff3636;
    font-weight: bolder;
    text-align: left;
    width: 80%;
    font-size: 50px;
  }
  
   #content button a:hover{
     background-color: transparent;
     font-weight: bolder;
   }
    
   .floatWapp{
    position:fixed;
    width:100px;
    height:100px;
    bottom:20px;
    right:20px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:70px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
    }
    
    .my-floatWapp{
    margin-top:16px;
    }  

    .content-black h3{
      font-size: 45px;
    
    }
    .content-black  p{
      font-size: 38px;
      width: 100%;
    }
    .content-black li{
        font-size: 38px;
        width: 100%;
    }
    
   
.content-home button {
  font-size: 35px;
}
    
 
.countdown-inversion a button{

  font-size: 40px;
  
}   

.floatWapp{
	position:fixed;
	width:120px;
	height:120px;
	bottom:20px;
	right:20px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:90px;
	box-shadow: 2px 2px 3px #999;
	z-index:100;
  }
  
    
}

@media (max-width: 600px){
   
.countdown-inversion a button{

  font-size: 40px;
  
}  
#content-home p{
	font-size: 25px;
}


.content-black h3{
  font-size: 30px;

}

.content-home #content-home button{
    font-size: 35px;
}

  header .menu a{
    display: block;
    font-size: 20px;
    margin: 20px;
    padding: 5px 15px;
    color: black;
    text-align: center;
  }
  .section-main h1{
    font-size: 50px;
    line-height: 60px;
  }
  .fa-times {
    width: 200px;
  }
  
 .menu a{
  font-size: 40px;
 }

.menu.active li{
  font-size: 30px;

 }
 
#content{
width: 95%;
padding: 0%;}

#content-home{
  width: 95%;
  padding: 0%;}
  
header .menu{
  position: fixed;
  background: #c4cffd;
  min-width: 300px;
  width: 40%;
  height: 100vh;
  top: 0;
  right: -100%;
  padding: 80px 50px;
  transition: 0.5s;
  transition-property: right;
}
h1{
  font-size: 30px;
}
#content button a{
  color: white;
  font-size: 35px;
}
#content button a:hover{

  font-size: 35px;
}

.floatWapp{
	position:fixed;
	width:120px;
	height:120px;
	bottom:20px;
	right:20px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	font-size:90px;
	box-shadow: 2px 2px 3px #999;
	z-index:100;
  }
  
.content-black p{
	font-size: 30px;
	width: 100%;
	line-height: 1.5;
}

.content-black li {
  font-size: 30px;
  width: 100%;
}

.content-home button {
  font-size: 35px;
}
  .my-floatWapp{
	margin-top:16px;
  }  
}

@media only screen and (min-width:320px) and (max-width:768px){
  .slider, .slider ul, .slider img{
      height: 100%;
  }
  }
